.form-input, mat-select {
    height: 3.5rem;
    border-radius: .5rem;
    border: 1px solid lightgray;
    padding: 0.5rem;
    width: 100%;
}

// quick and dirty hack .... to make the select look like a text input
mat-select {
    display: flex !important;
    background-color: white;
}

.error-message {
    margin-top: .25rem;
    color: red;
}